## prepare_eicu_alone

In [5]:
#configure for local eicu databse
exec(open("/Users/grovesdixon/gitreps/Insight_fellowship_project/merge/configure_eicu.py").read())

Database: eicu
Username: postgres

Configured for local EICU database.

In [6]:
#load patient data
#load patients data eicu
query = query_schema + """
select 
    patientunitstayid,
    patienthealthsystemstayid,
    gender,
    age,
    ethnicity,
    hospitalid,
    admissionweight
from patient
"""

ep_dat = pd.read_sql_query(query, con)
print(query)
ep_dat.head()

set search_path to public,eicu_crd;
select
    patientunitstayid,
    patienthealthsystemstayid,
    gender,
    age,
    ethnicity,
    hospitalid,
    admissionweight
from patient

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,admissionweight
0,141168,128919,Female,70,Caucasian,59,84.3
1,141178,128927,Female,52,Caucasian,60,54.4
2,141179,128927,Female,52,Caucasian,60,NaN
3,141194,128941,Male,68,Caucasian,73,73.9
4,141196,128943,Male,71,Caucasian,67,NaN

In [ ]:
#load