## load mimic data

In [9]:
exec(open("/Users/grovesdixon/gitreps/Insight_fellowship_project/merge/configure_mimic.py").read())

Configured for local MIMIC database.

In [10]:
# load patient from mimic
query = query_schema + """
SELECT 
    SUBJECT_ID,
    HADM_ID,
    ICD9_CODE
from diagnoses_icd
"""
print('patients query:')
print(query)
md_dat = pd.read_sql_query(query,con)
md_dat.head()

patients query:
SET search_path to mimiciii;
SELECT
    SUBJECT_ID,
    HADM_ID,
    ICD9_CODE
from diagnoses_icd

   subject_id  hadm_id icd9_code
0         109   172335     40301
1         109   172335       486
2         109   172335     58281
3         109   172335      5855
4         109   172335      4254

## load eicu

In [11]:
#configure for local eicu databse
exec(open("/Users/grovesdixon/gitreps/Insight_fellowship_project/merge/configure_eicu.py").read())

Database: eicu
Username: postgres

Configured for local EICU database.

In [58]:
# load patient from eicu
query = query_schema + """
SELECT 
    patientunitstayid,
    diagnosisstring,
    icd9code
from diagnosis
"""
print('patients query:')
print(query)
ed_dat = pd.read_sql_query(query,con)
ed_dat.head()

patients query:
set search_path to public,eicu_crd;
SELECT
    patientunitstayid,
    diagnosisstring,
    icd9code
from diagnosis

,patientunitstayid,diagnosisstring,icd9code
0,141168,cardiovascular|chest pain / ASHD|coronary arte...,"414.00, I25.10"
1,141168,cardiovascular|ventricular disorders|cardiomyo...,
2,141168,pulmonary|disorders of the airways|COPD,"491.20, J44.9"
3,141168,pulmonary|disorders of the airways|COPD,"491.20, J44.9"
4,141168,cardiovascular|ventricular disorders|congestiv...,"428.0, I50.9"

In [59]:
ed_dat[['icd9_code','extra']] = ed_dat['icd9code'].str.split(pat=',', expand=True, n=1)

In [60]:
ed_dat = ed_dat.drop(['icd9code', 'extra'], 1)
ed_dat.head()

,patientunitstayid,diagnosisstring,icd9_code
0,141168,cardiovascular|chest pain / ASHD|coronary arte...,414.00
1,141168,cardiovascular|ventricular disorders|cardiomyo...,
2,141168,pulmonary|disorders of the airways|COPD,491.20
3,141168,pulmonary|disorders of the airways|COPD,491.20
4,141168,cardiovascular|ventricular disorders|congestiv...,428.0

In [56]:
md_dat

        subject_id  hadm_id icd9_code
0              109   172335     40301
1              109   172335       486
2              109   172335     58281
3              109   172335      5855
4              109   172335      4254
...            ...      ...       ...
651042       97503   188195     20280
651043       97503   188195     V5869
651044       97503   188195     V1279
651045       97503   188195      5275
651046       97503   188195      5569

[651047 rows x 3 columns]