# discharge notes

In [164]:
#configure for local eicu databse
import nltk
import os
os.chdir('/Users/grovesdixon/gitreps/Insight_fellowship_project/')
exec(open("./merge/configure_mimic.py").read())

Configured for local MIMIC database:
	user = postgres
	dbname = mimic
	host = localhost
	schema_name = mimiciii
	query_schema = SET search_path to mimiciii;

### load noteevents

In [172]:
query = query_schema + 'select * from noteevents'

query = query_schema + """
select 
    hadm_id,
    text
from noteevents
where category = 'Discharge summary';
"""

df = pd.read_sql_query(query,con)
df.head()

   hadm_id                                               text
0   167853  Admission Date:  [**2151-7-16**]       Dischar...
1   107527  Admission Date:  [**2118-6-2**]       Discharg...
2   167118  Admission Date:  [**2119-5-4**]              D...
3   196489  Admission Date:  [**2124-7-21**]              ...
4   135453  Admission Date:  [**2162-3-3**]              D...

### clean the text

In [215]:
ctext = df['text']
ctext = pd.Series([x.lower() for x in ctext])
replacements = {'\[\*\*.*\*\*\]': 'REMOVEDTEXT'}
ctext = ctext.replace(replacements, regex=True)
df['text'] = ctext
df.head()
to_see = df.replace('\n', '', regex=True)
to_see.loc[to_see.index[0:100], :].to_csv('~/Desktop/sample.tsv', sep='\t')

### pull elements

In [205]:
#set up list of elements found in the discharge notes
element_list = ['chief complaint:',
               'history of present illness:']

#function to split out element from the discharge notes
def pull_text_element(series, element_left_string, right_string='\n'):
    split = series.str.split(pat=element_left_string, n=2)
    s1 = [x[1] for x in split]
    values = [x.split(right_string)[0] for x in s1]
    return(values)

#split out the text elements
tdat = df.loc[:,['hadm_id'].copy()]
for e in element_list:
    #first assign presence absence
    print('{}...'.format(e))
    pa_col = e.replace(':', '') + '_presnt'
    df[pa_col] = df['text'].str.contains(e)
    print('\t{} instances detected out of {} rows'.format(np.sum(df[pa_col]), df.shape[0]))
    #then merge in the element values if the element was present
    esub = df.loc[df[pa_col], ['hadm_id', 'text']]
    v_col = e.replace(':', '')
    esub[v_col] = pull_text_element(esub['text'], e)
    esub = esub.loc[:,['hadm_id', v_col]]
    tdat = pd.merge(tdat, esub, how = 'left', on='hadm_id')
tdat.index = tdat['hadm_id']
tdat = tdat.drop('hadm_id', 1)
tdat

chief complaint:...
	41370 instances detected out of 59652 rows

,hadm_id,text,chief complaint
2,167118,admission date: [**2119-5-4**] d...,
3,196489,admission date: [**2124-7-21**] ...,
4,135453,admission date: [**2162-3-3**] d...,
5,170490,admission date: [**2172-3-5**] d...,
6,134727,admission date: [**2112-12-8**] ...,
...,...,...,...
59643,100442,admission date: [**2119-6-7**] d...,
59644,191381,admission date: [**2108-5-9**] d...,
59647,144407,admission date: [**2199-3-18**] ...,
59648,139033,admission date: [**2200-4-25**] ...,
59649,188268,admission date: [**2200-10-21**] ...,

# get word frequencies

### get tokens

In [199]:
token_df = tdat.copy()
token_df.columns
c='chief complaint'
token_df[c] = token_df[c].apply(lambda x : [t for t in str(x).split()])
token_df[c]

hadm_id
167853    [nan]
107527    [nan]
167118       []
196489       []
135453       []
          ...
144407       []
139033       []
188268       []
100195    [nan]
127864    [nan]
Name: chief complaint, Length: 66076, dtype: object

In [190]:

#function to clean the tokens
def clean_tokens(x):
    clean_tokens=x[:]
    for token in x:
        if token in stopwords.words('english'):
            clean_tokens.remove(token)
    return(clean_tokens)

#tokenize
token_df = tdat.copy()
all_tokens = {}
for c in token_df.columns:
    all_tokens[c] = []
    token_df[c] = token_df[c].apply(lambda x : [t for t in x.split()])
    token_df[c] = token_df[c].apply(clean_tokens) 
    c_tokens = list(set([a for b in token_df[c].tolist() for a in b]))
    all_tokens[c] = c_tokens
token_df

TypeError: 'Series' object is not callable